---
export interface Props {
  title: string;
  description: string;
  imageSrc?: string;
  imageAlt?: string;
}

const { title, description, imageSrc, imageAlt = "Logo" } = Astro.props;
---

<div class="mx-auto max-w-4xl text-center py-8 px-4 sm:px-6">
  {imageSrc && (
    <div class="flex justify-center mb-6">
      <img alt={imageAlt} class="h-36 w-auto" src={imageSrc} />
    </div>
  )}
  <h2 >{title}</h2>
  <p class="mx-auto mt-6 max-w-3xl" set:html={description}>
</div>